<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <script src="https://kit.fontawesome.com/3404e4b543.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3.0.1/dist/vue.global.js"></script>
  <title>Todo MVP</title>
</head>

<body>
  <header class="header">
    <h1>Todo MVP</h1>
  </header>

  <section id="app">
    <h2>Todos</h2>
    <input type="text" placeholder="enter todo" v-model="userInput">
    <button class="btn" @click="addTodo">Add Todo</button>
    <p v-if="todos.length === 0">You are all caught up with your tasks</p>
    <ul v-else>
      <li class="todo" v-for="(todo, index) in todos">
        <p class="todo-box">{{ todo }}</p>
        <p class="todo-box">{{ date }}</p>
        <div class="edit-btn" @click="editTodo(index)"><i class="fas fa-pen"></i>
        </div>
        <div class="close-btn" @click="removeTodo(index)"><i class="fas fa-times"></i>
        </div>
        <div class="complete-btn" @click="completeTodo(todo, index)"><i class="fas fa-check"></i>
        </div>
      </li>
    </ul>

    <!-- completed todos -->
    <div class="completedTodos">
      <h2>Completed todos</h2>
      <p v-if="completedTodos.length === 0">You have not completed any tasks</p>
      <ul v-else>
        <li class="c-todo" v-for="(todo, index) in completedTodos">{{ todo }}</li>
      </ul>
    </div>
  </section>

  <script src="app.js"></script>
</body>

</html>